.pagination-custom[data-v-441e7402]{position:relative;margin:10px auto;display:flex;justify-content:center}.navigation-custom[data-v-441e7402]{position:absolute;top:-20px;width:100%;display:flex;justify-content:space-between}
