.pagination-custom[data-v-85f3f60e]{position:relative;margin:10px auto;display:flex;justify-content:center}.navigation-custom[data-v-85f3f60e]{position:absolute;top:-20px;width:100%;display:flex;justify-content:space-between}
